<title>Shop list</title>

<h1>Shop List</h1>
<h2>
<div class = "tripinfoinput">
  <label id = "tripinfo" for="tripinfo">Please enter the location of the trip</label><br>
  <input id = "tripinfoinput"type = "text" placeholder = "Please enter your trip location" #triplocation><br>
  <button id = "tripinfobutton" (click) = "createnewtrip(triplocation.value)"> Create New List </button>
</div>



<div class = "itemappend">
    <label class = "itemlabel" for="itemname">Item name: </label>
    <input class= "iteminput" type = "text" placeholder = "ex: apple" #itemname><br>
    <label class = "itemlabel" for="itemtotalprice">Item Price: </label>
    <input class= "iteminput" type = "text" placeholder = "ex: $100" #itemtotalprice><br>
    <label class = "itemlabel" for="itemtotalunit">Item amount: </label>
    <input class= "iteminput" type = "text" placeholder = "ex: 7" #itemtotalunit>
    <label class = "itemlabel" for="itemunit">Unit: </label>
    <input class= "iteminput" type = "text" placeholder = "ex: lbs" #itemunit><br>
    <label class = "itemlabel" for="itemtype">type: </label>
    <input class= "iteminput" type = "text" placeholder = "ex: food" #itemtype><br>
    <button id = "itemappendbutton" (click) = "appenditems(itemname.value, itemtotalprice.value, itemtotalunit.value, itemunit.value, itemtype.value)"> Add to the list </button>
  </div>
</h2>
<h3>
  <ul> 
      {{shoplists[shoplists.length-1].triplocation}} and the date is {{shoplists[shoplists.length-1].tripdate}}<br/>
      <li *ngFor = "let item of shoplists[shoplists.length-1].items; let i = index">
        Name: {{item.itemname}} Type: {{item.itemtype}} Total cost: {{item.itemtotalprice}}   Unit price: {{item.unitprice}}/{{item.itemunit}}   Total bought: {{item.itemtotalunit}} 
        <button id = "removebutton" type = "button" (click)="deleteitem(item)">X</button>
      </li>
    </ul>

  </h3>
  <button id = "tripinfobutton" (click) = "displaydata()"> Displaydata </button>